<span class="jumbotron text-center"><h1 class="jumbotron-heading">Your Cart</h1></span>

<ul class="list-group">
        <% @cart.each do |product| %>
            <li class="list-group-item">
                Product: 
                <%=product["name"]%></li>
                <div>Price: $<%=product["price"]%></div>
                <div>In Stock: <%=product["quantity"]%></div>
            <li>
        <% end %>
</ul>